*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #dddd;
    text-align: center;
}
.admin-content{
    padding-top: 50px;
    display: flex;
}
.admin-content-left{
    background-color: #dddddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}
.admin-content-left> ul> li> a{
    font-weight: bold;
}
.admin-content-left ul li {
    margin: 6px 0;
}
.admin-content-left ul ul {
    margin-left: 20px;
}
.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;
}
.admin-content-right-cartegory_add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    text-align: center;
    display: flex;
}
.admin-content-right-cartegory_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    color: brown;
    transition: all 0.3s ease;
}
.admin-content-right-cartegory_add button:hover{
    background-color: aqua;
    border: 1px solid aquamarine;
}
/* --------------------Cartegory list ----------------------*/
.admin-content-right-cartegory_list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.admin-content-right-cartegory_list table tr th,td{
    border: 1px solid #ddd;
}
table{
    border-collapse: collapse;
}
/* -----------------product----------------- */
.admin-content-right-product_add input,select {
    width: 300px;
    height: 30px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
}
.admin-content-right-product_add textarea{
    height: 200px;
    width: 500px;
    margin-bottom: 12px;
    padding: 12px;
}
.admin-content-right-product_add button{
        display: block;
        margin-top: 10px;
        height: 30px;
        width: 100px;
        cursor: pointer;
        background-color: aquamarine;
        border: none;
        color: brown;
        transition: all 0.3s ease;
    
}
.admin-content-right-product_add button:hover{
    background-color: aqua;
    border: 1px solid aquamarine;
}
