.row{
    display: flex;
    flex-wrap: wrap;
}
:root{
    --main-text-font:Arial, Helvetica,sans-serif;
}
.cart{
    padding: 100px 0;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0 100px ;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.cart-top-item i{
    color: #dddddd;
}
.cart-top-cart{
    border: 1px solid #0dd7ea;
}
.cart-top-cart i{
    color: #0dd7ea;
}
.cart-content-left{
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table{
    width: 100%;
    text-align: center;
}
.cart-content-left table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left table p{
    font-size: 12px;
    font-family: var(--main-text-font);
}
.cart-content-left table input{
    width: 30px;
}
.cart-content-left table span{
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
    justify-content: center;
}
.img img{
    width: 90px;
}
.cart-content-left table td{
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table{
    width: 100%;
}
.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td :last-child {
    text-align: right;
}
.cart-content-right-text{
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
.cart-content-right-button {
    text-align: center;
    align-items: center;
}
.cart-content-right-button button{
    padding: 0 18px;
    height: 40px;
    cursor: pointer;
}
.cart-content-right-button-first{
    background-color: #ddd;
    margin-right: 20px;
}
.cart-content-right-button-first:hover{
    background-color: black;
}
.cart-content-right-button-first:hover .link p{
    color: #ddd;
}
.cart-content-right-button-second{
    background-color: #333;
    margin-left: 20px;
}
.cart-content-right-button-second .link p{
    color: #ddd;
}
.cart-content-right-button-second:hover{
    background-color: #dddd;
}
.cart-content-right-button-second:hover .link p{
    color: black;
}
/*
.cart-content-right-button :last-child{
    background-color:black ;
    margin-right: 20px;
    color: #fff;
}
.cart-content-right-button :last-child :hover{
    background-color:  #dddddd;
    color:#333;
    border: 1px solid black;
} */
.cart-content-right-dangnhap{
    margin-top: 20px;
}
.cart-content-right-dangnhap p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}