:root{
    --main-text-font:Arial, Helvetica,sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.cartegory{
    padding: 100px 0 0;
}
.cartegory-top{
    margin-bottom: 50px;
}
.cartegory-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
/* left */
.cartegory-left{
    width: 20%;
}
.cartegory-left ul li{
    padding: 12px 0;
    padding-left: 5px;
}
.cartegory-left ul li >a{
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li{
    padding-left: 10px;
}
.cartegory-left-li ul{
   display: none;

}
.cartegory-left-li.block ul{
    
    display: block;
}
.cartegory-left ul li ul li a{
 color: #333333;
 font-size: 12px;
}
/* right */
.cartergory-right{
    width: 80%;
}
.cartergory-right-top-item:first-child{
    flex :2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.cartergory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.cartergory-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cartergory-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cartergory-right-content{
    margin-top: 20px;
    justify-content: space-between;

}
.cartergory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartergory-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.cartergory-right-content-item img{
    width: 100%;
}
.cartergory-right-content-item p{
    font-size: 12px;
}
.cartetory-right-bottom{
    justify-content: center;
    margin: 30px 0 20px 0;
}