:root{
    --main-text-font:Arial, Helvetica,sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 12px;
}
.product-content-left{
    margin-left: 4%;
    width: 46%;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img{
    width: 100%;
}
/* right */
.product-content-right{
    width: 50%;
    padding-left: 100px;
}
/* Name */
.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 26px;
}
.product-content-right-product-name p{
    color: #cccc;
    font-size: 12px;
}
/* Price */
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
/* Img */
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    background-color: rgb(248, 251, 251);
    border-radius: 50%;
    border: 1px solid;
    margin: 12px 0;
}
/* Size */
.size span{
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid #ddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
/* testtt */
.size span:hover{
    background-color: #cccccc;
    color: #FFF;
}
/* Quantity */
.quantity{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: #FFF;
}
.product-content-right-product-button button:last-child{
    border: 2px solid salmon;
    color: salmon;
    cursor: pointer;
}
.product-content-right-product-icon-item{
    margin-top: 10px;
    margin-right: 12px;
}
.product-content-right-bottom{
    padding-top: 40px;
    border-top: 1px solid #dddddd ;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    cursor: pointer;

}
.product-content-right-bottom-top:hover{
    background-color: #dddd
}
.maincontent-bottom{
    padding: 10px;
    font-family: var(--main-text-font);
    font-size: 15px;
}
.product-content-right-bottom-content-title{
    display: flex;
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item{
    cursor: pointer;
    padding: 0 17px 10px 7px ;
}
.active{
    border-bottom: 1px solid #333;
    font-family: var(--main-text-font);
    font-size: 15px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
    font-size: 12px;
}
.detail{
    display: none;
}
.product-content-right-bottom-content-chitiet{
    display: none;
}
.product-content-right-bottom-content-baoquan{
    display: none;
}
.product-related-title{
    border-top: 2px solid #dddd;
}
.product-related-title p{
    margin-top: 20px;
    font-family: var(--main-text-font);
    font-size: 25px;
}
.product-related-content{

    margin-top: 20px;
    justify-content: space-between;

}
.product-related-content-item{
    width: calc(20% - 12px);
    text-align: center;
    padding: 12px 0;
}
.product-related-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
    cursor: pointer;
}
.product-related-content-item img{
    width: 100%;
}
.product-related-content-item p{
    cursor: pointer;
    font-size: 12px;
}